<% provide :title, "About" %>
<h1>About</h1>
<p>
  This website is being created as part of the <%= link_to '#100DaysOfCode',
  "https://github.com/kylebowen/100-days-of-code" %> Challenge started in
  January 2017. It's still very much a 'work-in-progress' as it's one of the
  first apps I've worked on. It will eventually be a place to easily keep score
  and later on even have functionality for several games built-in.
</p>
