<% provide :title, "Contact" %>
<h1>Contact</h1>
<p>
  If you run into any problems, just shoot me a message on Slack. If you don't
  know who I am or how to message me on Slack, you probably shouldn't be using
  this app. (Don't worry, though. I won't tell.)
</p>
